.skip-ad-btn {
    /*display: none;*/
    position: absolute;
    bottom: 150px;
    right: 20px;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}
