/* /////////////////////// BANNER APP INSTALL ///////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.app {
background: #fff;
background-size: cover;    
max-width: 480px;
padding: 10px;
position: fixed;
bottom: -100%;
left: 0;
right: 0;
border-radius: 20px 20px 0 0;
transition: bottom 3s ease-in-out;
z-index: 2000;
}
.app.show {
bottom: 0;
}
.logo-app {
float: left;
margin-right: 10px;
width: 55px;
height: 55px;
background: url('https://lovesongsapp.github.io/icons/icon192.png') no-repeat center center;
background-size: cover;
border-radius: 10px;
}
.app .content {
overflow: hidden;
}
.app-title {
font-family: 'Montserrat', sans-serif;
font-weight: 600;
color: #222;
}
.app-subtitle {
font-weight: 500;
font-size: 0.85rem;
margin: 0;
color: #222;
}
.add-info {
font-size: 0.65rem;
font-weight: 500;
color: #222;
}
.message {
clear: both;
font-weight: 500;
margin-top: 25px;
margin-bottom: 30px;
line-height: 1.2;
color: #222;
font-size: 1.1rem;
}
.app .install-btn-app {
font-size: 1.1rem;
font-weight: 500;
width: 100%;
background: #0b57cf;
color: #fff;
border-radius: 5px;
border: none;
padding: 10px;
cursor: pointer;
text-align: center;
display: block;
font-family: 'PT Sans', sans-serif;
}
.header-app {
top: 7px;
display: flex;
flex-direction: row;
justify-content: space-between;
left: 0px;
right: 10px;
}
.header-app p{
    line-height: 1.3 !important;
}
.header-app ion-icon {
font-size: 32px;
color: #999;
cursor: pointer;
}
