@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); * {
    outline: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* impede rolagem */
    background: #482e78;
    background: radial-gradient(circle,rgba(72, 46, 120, 1) 0%, rgba(23, 6, 43, 1) 100%);
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    padding: 20px;
}

.logo {
    margin-bottom: 20px;
    text-align: center;
}

.logo img {
    width: 70px;
    border-radius: 50%;
}

.container {
    width: 100%;
    max-width: 360px;
    padding: 30px;
    border-radius: 18px;
}

h1 {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
}

input:focus {
    background-color: transparent;
    border: 2px solid #5D2C86;
}

input {
    width: 100%;
    padding: 12px 10px;
    margin: 8px auto;
    border: none;
    border-radius: 10px;
    background: #2d1c4a;
    color: #00FFBF;
    font-size: 18px;
    box-sizing: border-box;
}

input::placeholder {
    color: #aaa;
}

.btn, .google-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    margin-top: 12px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn {
    background-color: #5D2C86;
    color: #d8baf1;
}

.btn:hover {
    background-color: #5D2C86;
}

.google-btn {
    background: none;
    border: 2px solid #5D2C86;
    color: #d8baf1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.google-btn:hover {
    background-color: none;
}

.toggle {
    position: relative;
}

.toggle ion-icon {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    color: #aaa;
    cursor: pointer;
}

.small-text {
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
    color: #d8baf1;
}

.switch-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    cursor: pointer;
    color: #00FFBF;
}

.hidden {
    display: none;
}

@media (max-width: 480px) {
    .container {
        padding: 25px 20px;
    }
}
