@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); * {
margin: 0;
padding: 0;
}
@media (orientation: portrait) {
.playlist-header {
right: 10px;
width: 90% !important;
}
}
.playlist-header {
display: flex;
align-items: center;
justify-content: space-between;
height: 35px;
position: fixed;
width: 45%;
background: #fff
top: 5px;
border-radius: 20px;
border: 1px solid #ccc;
padding-left: 20px;
}
.dark-mode .playlist-header {
display: flex;
align-items: center;
justify-content: space-between;
height: 35px;
position: fixed;
width: 45%;
background: rgba(0, 0, 0, 0.9);
top: 5px;
border-radius: 20px;
border: 1px solid #555;
padding-left: 20px;
}
body {
background: #fdefff;
font-family: 'Roboto', sans-serif;
font-size: 16px;
color: #311E56;
transition: background-color 0.3s, color 0.3s;
user-select: none;
-webkit-tap-highlight-color: transparent;
margin: 0;
padding: 0;
}
.player-container {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}
.player {
width: 100%;
overflow: hidden;
display: flex;
flex-direction: column;
top: 0;
bottom: 0;
height: 100%;
}
.player-header {
height: 30px;
display: flex;
justify-content: space-around;
align-items: center;
padding: 0px;
}
.player-header-items {
flex-direction: column;
color: mediumpurple;
font-weight: 400;
font-size: 14px;
display: flex;
align-items: center;
color: #311E56;
}
.player-header-items a {
text-decoration: none;
color: #311E56;
cursor: pointer;
}
.player-header button {
background: none;
border: none;
font-size: 24px;
cursor: pointer;
color: #311E56;
transition: color 0.3s;
display: flex;
justify-content: center;
align-items: center;
}
.player-header ion-icon {
background: none;
border: none;
font-size: 24px;
cursor: pointer;
transition: color 0.3s;
display: flex;
justify-content: center;
align-items: center;
}
.player-controls {
padding: 10px;
text-align: center;
display: flex;
flex-direction: column;
justify-content: space-between;
flex: 1;
}
.gradient-overlay {
top: 0;
position: absolute;
width: 100%;
height: 50vh; /* Altura do gradiente */
background: linear-gradient(to bottom, rgba(19, 5, 31, 0.99), rgba(19, 5, 31, 0.5), transparent 20%, transparent 80%, rgba(19, 5, 31, 0.7), rgba(0, 0, 0, 0.99));  
pointer-events: none;
}
#music-player {
width: 100%;
height: 50vh;
/*pointer-events: none;*/
}
.info {
align-items: center;
display: flex;
position: fixed;
bottom: 20%;
width: 95%;
margin: 0 auto;
flex-direction: column;
left: 0px;
right: 0px;
}
.info .title {
font-size: 18px;
font-weight: 500;
font-family: 'Open Sans', sans-serif;
}
.info .artist {
font-size: 16px;
font-weight: 400;
}
input[type="range"] {
-webkit-appearance: none;
width: 100%;
background: #FFFFFF20;
height: 3px;
border-radius: 5px;
outline: none;
transition: opacity .15s ease-in-out;
}
input[type="range"]:hover {
opacity: 1;
}
/* Webkit Browsers (Chrome, Safari, Edge) */
input[type="range"]::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 12px;
height: 12px;
background: #311e56;
cursor: pointer;
border-radius: 50%;
border: 1px solid #00ffbf;
margin-top: -5px;
}
/* Mozilla Browsers (Firefox) */
input[type="range"]::-moz-range-thumb {
width: 20px;
height: 20px;
background: #00FFBF;
cursor: pointer;
border-radius: 50%;
border: 2px solid #fff;
}
/* IE Browsers */
input[type="range"]::-ms-thumb {
width: 20px;
height: 20px;
background: #00FFBF;
cursor: pointer;
border-radius: 50%;
border: 2px solid #fff;
}
.controls {
display: flex;
justify-content: space-around;
align-items: center;
height: 50px;
position: fixed;
bottom: 10px;
margin-left: 10px;
margin-right: 10px;
gap: 20px;
right: 0;
left: 0;
}
.control-button {
background: none;
border: none;
font-size: 32px;
cursor: pointer;
color: #311E56;
transition: color 0.3s;
}
.play-outline {
font-size: 50px;
}
.pause-outline {
font-size: 50px;
}
.control-button:hover {
color: #F966D6;
}
.progress-container {
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 0px;
bottom: 70px;
position: fixed;
left: 10px;
right: 10px;
}
#progress {
flex: 1;
margin: 0 10px;
}
.repeat-number {
font-size: 10px;
color: #000;
background: #00ffbf;
border-radius: 50%;
padding: 2px;
display: flex;
position: fixed;
bottom: 75px;
left: 28px;
width: 10px;
justify-content: center;
align-items: center;
}
/* PLAYLIST CONFIG */
#playlist-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.8);
display: none;
justify-content: center;
align-items: center;
}
#playlist {
background: #fff;
padding: 10px;
border-radius: 10px;
text-align: left;
height: 95%;
/top: 20px;
position: relative;
width: 100%;
}
#playlist h2 {
margin-top: 0;
font-weight: 400;
font-size: 18px;
height: 40px;
}
#playlist ul {
list-style-type: none;
padding: 0;
margin: 0;
width: 100%;
overflow-y: auto;
height: 100%;
scrollbar-width: none;
position: relative;
top: 35px;
}
#playlist ul li {
display: flex;
align-items: center;
border-bottom: 1px solid #d6d1e1;
padding: 2px 0px;
height: 90px;
}
#playlist ul li .title{
    font-weight: 500;
}
#playlist ul li img {
width: 150px;
height: 85px;
border-radius: 5px;
object-fit: cover;
object-position: center;
margin-right: 10px;
position: absolute;
}
#playlist ul li span {
flex: 1;
position: relative;
margin-left: 160px;
}
#playlist ul li:hover {
background: #00ffbf;
cursor: pointer;
}
#close-playlist {
background: none;
border: none;
color: #000;
cursor: pointer;
font-size: 32px;
margin-right: 10px;
margin-top: 5px
}
/* //////////////////// DARK MODE ////////////////////////// */
.dark-mode .player {
background: linear-gradient(0deg, rgba(87,32,162,1) 0%, rgba(19,5,31,1) 49%);
}
.dark-mode #close-playlist {
color: #00ffbf;
align-items: center;
cursor: pointer;
}
.dark-mode .player-controls {
color: #f1f1f1;
background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.9) 80%, #000000 100%), url(https://lovesongsapp.github.io/bg-controls.jpg) no-repeat center center;
/*background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(bg-controls.jpg) no-repeat center center;*/
background-size: cover;
}
.dark-mode .player-header-items {
color: #aaa;
}
.dark-mode .player-header-items a {
color: #aaa;
}
.dark-mode .player-header button {
color: #00FFBF;
font-size: 24px;
}
.dark-mode .player-header ion-icon {
color: #00FFBF;
font-size: 24px;
}
.dark-mode .control-button {
color: #00FFBF;
}
.dark-mode .control-button:hover {
color: #00FFBF;
}
.dark-mode .info .artist {
color: #aaaaaa;
}
.dark-mode #playlist-overlay {
background: rgba(18, 18, 18, 0.8);
}
.dark-mode #playlist {
background: #00000070;
color: #ffffff;
bottom: 0;
}
.dark-mode #playlist ul li {
padding: 2px 0px;
border-bottom: 1px solid #6666663d;
}
.dark-mode #playlist ul li:hover {
color: #00FFBF;
background: #340942;
}
.dark-mode #playlist-items .title {
font-weight: 400;
color: #f1f1f1;
position: relative;
margin-left: 160px;
}
.dark-mode #playlist-items .author {
color: #AAAAAA;
font-size: 0.9em;
position: relative;
margin-left: 160px;
}
/* PREENCHIMENTO DINAMICO */
input[type="range"]::-webkit-slider-runnable-track {
background: linear-gradient(to right, #00FFBF, #00FFBF) 0% / var(--slider-value) 100% no-repeat, #311e56;
height: 2px;
/* Define a altura do preenchimento dinâmico */
border-radius: 5px;
}
input[type="range"]::-moz-range-track {
background: linear-gradient(to right, #00FFBF, #00FFBF) 0% / var(--slider-value) 100% no-repeat, #ddd;
height: 2px;
/* Define a altura do preenchimento dinâmico */
border-radius: 5px;
}
input[type="range"]::-ms-track {
background: linear-gradient(to right, #00FFBF, #00FFBF) 0% / var(--slider-value) 100% no-repeat, #ddd;
height: 2px;
/* Define a altura do preenchimento dinâmico */
border-radius: 5px;
}
input[type="range"]::-ms-fill-lower {
background: #00FFBF;
height: 3px;
/* Define a altura do preenchimento dinâmico */
border-radius: 5px;
}
input[type="range"]::-ms-fill-upper {
background: #ddd;
height: 3px;
/* Define a altura do preenchimento dinâmico */
border-radius: 5px;
}
/*//////////////////////// MEDIA QUERY PORTRAIT /////////////////////////////// */
@MEDIA (orientation: portrait) {
body .dark-mode {
background: linear-gradient(0deg, rgba(87,32,162,1) 0%, rgba(19,5,31,1) 10%);
}
.dark-mode .player {
max-width: 100%;
height: 100vh;
}
.dark-mode #music-player {
height: 50%;
}
}
/* //////////////////// MEDIA QUERY LANDSCAPE MODE ////////////////////////// */
@media (orientation: landscape) {
.dark-mode .player-controls {
background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(bg-controls.jpg) no-repeat center center;
background-size: cover;
height: auto;
}
.player {
flex-direction: row;
max-width: 100%;
height: 100vh;
}
#music-player {
width: 50%;
height: 100%;
}
.info {
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;
position: fixed;
bottom: 40%;
left: 50%;
width: auto;
right: 0;
}
.player-controls {
width: 50%;
height: 40%;
padding: 20px;
}
.player-header {
height: auto;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
border-top-left-radius: 0;
border-top-right-radius: 0;
}
.progress-container {
left: 50%;
display: flex;
align-items: center;
margin-left: 10px;
position: fixed;
bottom: 80px;
}
.controls {
left: 50%;
display: flex;
align-items: center;
justify-content: space-around;
position: fixed;
bottom: 5px;
}
#playlist {
padding: 10px;
display: flex;
left: 50%;
position: absolute;
top: 0;
border-radius: none;
}
#playlist ul {
margin-top: 20px;
}
#playlist h2 {
display: none;
}
/*#close-playlist {
background: none;
border: none;
font-size: 32px;
cursor: pointer;
}*/
.repeat-number {
font-size: 10px;
color: #000;
background: #00ffbf;
border-radius: 50%;
padding: 2px;
display: flex;
position: fixed;
bottom: 55px;
left: 54.4%;
width: 10px;
justify-content: center;
align-items: center;
}
.gradient-overlay {
top: 0;
left: 0;
position: absolute;
width: 50%;
height: 100vh; /* Altura do gradiente */
background: linear-gradient(to bottom, rgba(19, 5, 31, 0.99), rgba(19, 5, 31, 0.5), transparent 20%, transparent 85%, rgba(19, 5, 31, 0.7), rgba(0, 0, 0, 0.99));
pointer-events: none;
}
}/*end landscape mode*/
/*playlist new design*/
#playlist-items li {
display: flex;
align-items: center;
/*margin: 10px 0;*/
}
#playlist-items .text-container {
display: flex;
flex-direction: column;
}
#playlist-items .author {
font-size: 0.8em;
}
.busca {
font-size: 18px;
font-weight: 500;
text-transform: uppercase;
width: 90%;
height: 30px;
color: #000;
border: none;
background: #fff;
}
.dark-mode .busca {
font-size: 18px;
font-weight: 500;
text-transform: uppercase;
width: 90%;
height: 30px;
color: #00ffbf;
border: none;
background: #000;
}
.busca:focus {
outline: none;
}
